*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

@font-face {
	font-family: "caveat";
	src:url('../font/Caveat-Bold.ttf');
}

html,body{
	font-family: caveat;
	width: 100%;
	background-color: black;
}

.link {
    text-decoration: none;
}

.cabeçalho {
	width: 100%;
	padding:1%;
	font-size: 2.3vw;
	background-color: rgb(5, 5, 5);
	text-align: center;
	color: #e62e2e;
	text-shadow: 1px 1px #4d3639;
}

.container-principal { width: 100%;

	                   
	                   
	                   padding: 20px 0;
	                   text-align: center;
	                   background-color: #e6962e;
	                   border: 2px dashed #200345;
	                   border-radius: 6px;
	                   }



.container-principal > div { display: inline-block;
	                         width:24%;
                             
	                         box-sizing: border-box;
	               	         padding-top:35%;                             
                             border-radius: 8px;
                             background-position: center;
	                         background-size: cover;
	                         background-repeat: no-repeat;
	                         }


.temari1{ background-image:url('../img/temari/1.jpg');
	     }

.temari2{ background-image:url('../img/temari/2.jpg');
	      }

.temari3{ background-image:url('../img/temari/3.jpg');
	      }

.temari4{ background-image:url('../img/temari/4.jpg');
	      }

.temari5{ background-image:url('../img/temari/5.jpg');
	     }

.temari6{ background-image:url('../img/temari/6.jpg');
	      }

.temari7{ background-image:url('../img/temari/7.jpg');
	      }

.temari8{ background-image:url('../img/temari/8.jpg');
	      }



@media screen and (max-width: 990px){ .container-principal > div { width:48%; padding-top: 98%;} }
@media screen and (max-width: 700px){ .container-principal > div { width:98%; padding-top: 98vh; margin-bottom:5px; } }